.main-home-payment-online {
	padding: 64px 0px 128px 0px;
	@media (max-width: 991.98px) {
		padding: 64px 0px 80px 0px;
	}
	@media (max-width: 767.98px) {
		padding: 32px 0px 64px 0px;
	}
	// .main-home-payment-online__container
	&__container {
		max-width: 1104px;
		padding: 0px 24px;
	}
	// .main-home-payment-online__content
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 0px 128px 0px;
		@media (max-width: 991.98px) {
			margin: 0px 0px 144px 0px;
		}
		@media (max-width: 767.98px) {
			flex-direction: column-reverse;
			justify-content: center;
			margin: 0px 0px 64px 0px;
		}
	}
	// .main-home-payment-online__body
	&__body {
		flex: 0 1 50%;
		margin: 0px 24px 0px 0px;
		display: flex;
		flex-direction: column;
		align-items: start;
		@media (max-width: 991.98px) {
			margin: 0px 20px 0px 0px;
		}
		@media (max-width: 767.98px) {
			flex: 1 1 auto;
			margin: 0px 0px 0px 0px;
			align-items: center;
		}
	}
	// .main-home-payment-online__title
	&__title {
		font-family: "Arial", sans-serif;
		font-weight: 700;
		font-size: 32px;
		line-height: 131%;
		color: #000;
		margin: 0px 0px 20px 0px;
		@media (max-width: 767.98px) {
			font-size: 24px;
			line-height: 133%;
			text-align: center;
			margin: 0px 0px 16px 0px;
		}
		@media (max-width: 479.98px) {
			font-size: 22px;
			line-height: 145%;
		}
	}
	// .main-home-payment-online__subtitle
	&__subtitle {
		font-family: "Arial", sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 156%;
		color: #666;
		margin: 0px 0px 48px 0px;
		@media (max-width: 767.98px) {
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			margin: 0px 0px 32px 0px;
		}
	}
	// .main-home-payment-online__button
	&__button {
		font-family: "Arial", sans-serif;
		border-radius: 10px;
		padding: 14px 24px;
		background: #000;
		font-weight: 400;
		font-size: 18px;
		line-height: 156%;
		text-align: center;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;
		&:hover {
			background: #000;
		}
	}
	// .main-home-payment-online__image
	&__image {
		flex: 0 1 50%;
		margin: 0px 0px 0px 24px;
		@media (max-width: 991.98px) {
			margin: 0px 0px 0px 20px;
		}
		@media (max-width: 767.98px) {
			flex: 1 1 auto;
			margin: 0px 0px 32px 0px;
		}
		img {
			width: 100%;
			height: auto;
			@media (max-width: 767.98px) {
				max-width: 327px;
			}
		}
	}
	// .main-home-payment-online__icons
	&__icons {
	}
}
.icons-payment-online {
	display: flex;
	flex-wrap: wrap;
	margin: -16px -24px;
	@media (max-width: 767.98px) {
		flex-direction: column;
		align-items: center;
		margin: -16px 0px;
	}
	// .icons-payment-online__column
	&__column {
		flex: 0 1 33.3333%;
		padding: 16px 24px;
		@media (max-width: 767.98px) {
			flex: 1 1 auto;
			max-width: 400px;
			padding: 16px 0px;
		}
	}
	// .icons-payment-online__item
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	// .icons-payment-online__image
	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 6px;
		width: 48px;
		height: 48px;
		background: rgb(111, 173, 170, 0.08);
		margin: 0px 0px 24px 0px;
		img {
			width: 32px;
			height: 32px;
		}
	}
	// .icons-payment-online__text
	&__text {
	}
	// .icons-payment-online__title
	&__title {
		font-family: "Arial", sans-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 133%;
		text-align: center;
		color: #000;
		margin: 0px 0px 12px 0px;
		@media (max-width: 991.98px) {
			font-size: 16px;
			line-height: 150%;
		}
	}
	// .icons-payment-online__subtitle
	&__subtitle {
		font-family: "Arial", sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 156%;
		text-align: center;
		color: #666;
		@media (max-width: 991.98px) {
			font-size: 16px;
			line-height: 150%;
		}
	}
}

.steps-payment-online {
	padding: 0px 0px 128px 0px;
	@media (max-width: 991.98px) {
		padding: 0px 0px 80px 0px;
	}
	@media (max-width: 767.98px) {
		padding: 0px 0px 64px 0px;
	}
	// .steps-payment-online__container
	&__container {
		max-width: 1104px;
		padding: 0px 24px;
	}
	// .steps-payment-online__title
	&__title {
		font-family: "Arial", sans-serif;
		font-weight: 700;
		font-size: 32px;
		line-height: 131%;
		text-align: center;
		color: #000;
		padding: 32px 0px;
		margin: 0px 0px 32px 0px;
		@media (max-width: 767.98px) {
			padding: 16px 0px;
			font-size: 24px;
			line-height: 133%;
			margin: 0px 0px 16px 0px;
		}
	}
	// .steps-payment-online__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: -16px -22px;
		@media (max-width: 767.98px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: -16px 0px;
		}
	}
	// .steps-payment-online__column
	&__column {
		flex: 0 1 33.3333%;
		padding: 16px 22px;
		@media (max-width: 767.98px) {
			flex: 1 1 auto;
			padding: 16px 0px;
		}
	}
	// .steps-payment-online__item
	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}
.item-steps-payment-online {
	// .item-steps-payment-online__image
	&__image {
		border-radius: 24px;
		margin: 0px 0px 32px 0px;
		@media (max-width: 767.98px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		img {
			border-radius: 24px;
			height: 100%;
			width: 100%;
			@media (max-width: 767.98px) {
				max-width: 327px;
			}
		}
	}
	// .item-steps-payment-online__text
	&__text {
	}
	// .item-steps-payment-online__title
	&__title {
		font-family: "Arial", sans-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 133%;
		color: #000;
		margin: 0px 0px 16px 0px;
		@media (max-width: 767.98px) {
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			margin: 0px 0px 12px 0px;
		}
	}
	// .item-steps-payment-online__subtitle
	&__subtitle {
		font-family: "Arial", sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 156%;
		color: #666;
		@media (max-width: 767.98px) {
			font-size: 16px;
			line-height: 150%;
			text-align: center;
		}
	}
}

.questions-payment-online {
	padding: 0px 0px 128px 0px;
	@media (max-width: 991.98px) {
		padding: 0px 0px 80px 0px;
	}
	@media (max-width: 767.98px) {
		padding: 0px 0px 64px 0px;
	}
	// .questions-payment-online__container
	&__container {
		max-width: 720px;
		padding: 0px 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .questions-payment-online__title
	&__title {
		font-family: "Arial", sans-serif;
		width: 100%;
		font-weight: 700;
		font-size: 32px;
		line-height: 131%;
		text-align: center;
		color: #000;
		padding: 32px 0px;
		@media (max-width: 767.98px) {
			padding: 16px 0px;
			font-size: 24px;
			line-height: 133%;
		}
		@media (max-width: 479.98px) {
			font-size: 22px;
			line-height: 127%;
		}
	}
	// .questions-payment-online__content
	&__content {
		width: 100%;
	}
	// .questions-payment-online__spollers
	&__spollers {
	}
	// .questions-payment-online__button
	&__button {
		font-family: "Arial", sans-serif;
		background: rgba(0, 0, 0, 0.04);
		transition: all 0.3s ease 0s;
		border-radius: 10px;
		padding: 14px 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 400;
		font-size: 18px;
		line-height: 156%;
		text-align: center;
		color: #000;
		margin: 32px 0px 0px 0px;
		&:hover {
			color: #fff;
			background: #000;
		}
		@media (max-width: 767.98px) {
			font-size: 16px;
			line-height: 150%;
			padding: 16px 24px;
		}
	}
}
.spollers-payment-online {
	// .spollers-payment-online__item
	&__item {
		padding: 26px 0px;
		box-shadow: inset 0 -1px 0 0 #dddfe0;
		background: rgba(255, 255, 255, 0);
		&:last-child {
			box-shadow: none;
			background: none;
		}
	}
	// .spollers-payment-online__title
	&__title {
		font-family: "Arial", sans-serif;
		text-align: left;
		width: 100%;
		font-weight: 700;
		font-size: 18px;
		line-height: 133%;
		color: #000;
		display: flex;
		justify-content: space-between;
		@media (max-width: 767.98px) {
			font-size: 16px;
			line-height: 150%;
		}
		img {
			width: 24px;
			height: 24px;
			transition: all 0.3s ease 0s;
		}
		&._spoller-active {
			img {
				transform: rotate(-180deg);
			}
		}
	}
	// .spollers-payment-online__body
	&__body {
	}
	// .spollers-payment-online__text
	&__text {
		margin: 16px 0px 0px 0px;
		p {
			font-family: "Arial", sans-serif;
			font-weight: 400;
			font-size: 18px;
			line-height: 156%;
			color: #666;
			@media (max-width: 767.98px) {
				font-size: 16px;
				line-height: 150%;
			}
		}
	}
}

.application-payment-online {
	padding: 0px 0px 68px 0px;
	@media (max-width: 991.98px) {
		padding: 0px 0px 30px 0px;
	}
	@media (max-width: 767.98px) {
		padding: 0px 0px 4px 0px;
	}
	@media (max-width: 479.98px) {
		margin: 0px 0px 14px 0px;
	}
	// .application-payment-online__container
	&__container {
		max-width: 1104px;
		padding: 0px 24px;
	}
	// .application-payment-online__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .application-payment-online__image
	&__image {
		border-radius: 16px;
		margin: 0px 0px 32px 0px;
		@media (max-width: 991.98px) {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: 767.98px) {
			margin: 0px 0px 16px 0px;
		}
		img {
			border-radius: 16px;
			max-width: 720px;
			height: auto;
			width: 100%;
			@media (max-width: 991.98px) {
				max-width: 680px;
			}
			@media (max-width: 767.98px) {
				max-width: 538px;
			}
		}
	}
	// .application-payment-online__body
	&__body {
		padding: 32px 0px 0px 0px;
		@media (max-width: 767.98px) {
			padding: 16px 0px 0px 0px;
		}
	}
	// .application-payment-online__title
	&__title {
		font-family: "Arial", sans-serif;
		font-weight: 700;
		font-size: 32px;
		line-height: 131%;
		text-align: center;
		color: #000;
		margin: 0px 0px 24px 0px;
		@media (max-width: 767.98px) {
			font-size: 24px;
			line-height: 133%;
			margin: 0px 0px 12px 0px;
		}
		@media (max-width: 479.98px) {
			font-size: 20px;
			line-height: 140%;
		}
	}
	// .application-payment-online__subtitle
	&__subtitle {
		font-family: "Arial", sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 156%;
		text-align: center;
		color: #666;
		margin: 0px 0px 32px 0px;
		@media (max-width: 767.98px) {
			font-size: 17px;
			line-height: 153%;
		}
	}
	// .application-payment-online__links
	&__links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -6px;
	}
	// .application-payment-online__link
	&__link {
		flex: 0 1 120px;
		padding: 6px;
		@media (max-width: 479.98px) {
			flex: 0 0 48px;
			height: 48px;
		}
		a {
			padding: 7px 14px 7px 7px;
			display: flex;
			align-items: center;
			border: 1px solid #a6a6a6;
			border-radius: 6px;
			padding: 7px 14px 7px 7px;
			background: #000;
			@media (max-width: 479.98px) {
				padding: 8px;
			}
		}
	}
	// .application-payment-online__logo
	&__logo {
		width: 24px;
		height: 24px;
		margin: 0px 7px 0px 0px;
		@media (max-width: 479.98px) {
			margin: 0px 0px 0px 0px;
		}
	}
	// .application-payment-online__logo-text
	&__logo-text {
		height: 24px;
		width: auto;
		@media (max-width: 479.98px) {
			display: none;
		}
	}
}

//========================================================================================================================================================

#installment-payment-online {
	@media (max-width: 767.98px) {
		top: auto;
		padding: 30px 0px 0px 0px;
	}
	.popup__content {
		width: 100%;
		max-width: 600px;
		min-height: 100%;
		padding: 32px 24px 24px 24px;
		@media (max-width: 767.98px) {
			max-width: 100%;
			padding: 24px 16px;
			box-shadow:
				0 -8px 16px -10px rgba(0, 0, 0, 0.05),
				0 -16px 30px -10px rgba(0, 0, 0, 0.04),
				0 -20px 40px -10px rgba(0, 0, 0, 0.03);
			background: #fff;
			border-radius: 18px 18px 0 0;
		}
	}
	.popup__close {
		cursor: pointer;
		position: absolute;
		top: 12px;
		right: 12px;
		@media (max-width: 767.98px) {
			top: 8px;
			right: 8px;
		}
		&::before {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			width: 24px;
			height: 24px;
			backdrop-filter: blur(16px);
			background: rgba(0, 0, 0, 0.04);
			font-size: 10px;
			color: #000;
		}
	}
}
.popup-payment-online {
	// .popup-payment-online__logo
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		padding: 7px 8px;
		background: #000;
		margin: 0px 0px 20px 0px;
		@media (max-width: 767.98px) {
			margin: 0px 0px 16px 0px;
		}
		img {
			height: 9px;
			width: auto;
			@media (max-width: 767.98px) {
				height: 10px;
			}
		}
	}
	// .popup-payment-online__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .popup-payment-online__top
	&__top {
		width: 100%;
		margin: 0px 0px 20px 0px;
		@media (max-width: 767.98px) {
			margin: 0px 0px 16px 0px;
		}
	}
	// .popup-payment-online__title
	&__title {
		font-family: "Arial", sans-serif;
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		color: #000;
		margin: 0px 0px 8px 0px;
		@media (max-width: 767.98px) {
			font-size: 20px;
			line-height: 140%;
		}
	}
	// .popup-payment-online__subtitle
	&__subtitle {
		font-family: "Arial", sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 157%;
		color: rgba(0, 0, 0, 0.6);
	}
	// .popup-payment-online__bottom
	&__bottom {
		width: 100%;
		margin: 0px 0px 20px 0px;
		@media (max-width: 767.98px) {
			margin: 0px 0px 16px 0px;
		}
	}
	// .popup-payment-online__terms
	&__terms {
		display: flex;
		flex-wrap: wrap;
		margin: -6px;
		padding: 0px 0px 20px 0px;
		@media (max-width: 767.98px) {
			flex-direction: column;
			padding: 0px 0px 16px 0px;
		}
	}
	// .popup-payment-online__term
	&__term {
		flex: 1 1 50%;
		padding: 6px;
		display: flex;
		align-items: center;
		span {
			font-family: "Arial", sans-serif;
			font-weight: 400;
			font-size: 14px;
			line-height: 157%;
			color: #000;
		}
	}
	// .popup-payment-online__image
	&__image {
		border-radius: 8px;
		padding: 5px;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px 12px 0px 0px;
		img {
			width: 22px;
			height: 22px;
		}
	}
	// .popup-payment-online__items
	&__items {
		background: #f6f7f8;
		border-radius: 10px;
		padding: 12px;
		span {
			display: block;
			font-family: "Arial", sans-serif;
			font-weight: 400;
			font-size: 12px;
			line-height: 133%;
			color: rgba(0, 0, 0, 0.4);
			margin: 8px 0px 0px 0px;
		}
	}
	// .popup-payment-online__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: -3px;
	}
	// .popup-payment-online__column
	&__column {
		flex: 0 1 25%;
		padding: 3px;
		&._active {
			.popup-payment-online__date {
				color: #000;
			}
			.popup-payment-online__price {
				color: #000;
			}
			.popup-payment-online__line {
				background: #428bf9;
			}
		}
	}
	// .popup-payment-online__item
	&__item {
		cursor: pointer;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	// .popup-payment-online__date
	&__date {
		font-family: "Arial", sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 133%;
		color: rgba(0, 0, 0, 0.4);
		margin: 0px 0px 2px 0px;
		span {
			margin: 0px 0px 0px 0px;
			color: rgba(0, 0, 0, 0.4);
			@media (max-width: 767.98px) {
				display: none;
			}
		}
	}
	// .popup-payment-online__price
	&__price {
		flex: 1 1 auto;
		font-family: "Arial", sans-serif;
		font-weight: 700;
		font-size: 13px;
		line-height: 154%;
		color: rgba(0, 0, 0, 0.4);
	}
	// .popup-payment-online__line
	&__line {
		margin: 8px 0px 0px 0px;
		border-radius: 6px;
		height: 6px;
		width: 100%;
		background: rgba(0, 0, 0, 0.08);
	}
	// .popup-payment-online__buttons
	&__buttons {
		width: 100%;
		span {
			display: block;
			width: 100%;
			font-family: "Arial", sans-serif;
			font-weight: 400;
			font-size: 12px;
			line-height: 133%;
			text-align: center;
			color: rgba(0, 0, 0, 0.4);
			a {
				color: #1771e6;
				transition: all 0.3s ease 0s;
				&:hover {
					color: #135ec1;
				}
			}
		}
	}
	// .popup-payment-online__button
	&__button {
		border-radius: 12px;
		width: 100%;
		background: #000;
		padding: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;
		font-family: "Arial", sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 157%;
		text-align: center;
		color: #fff;
		margin: 0px 0px 20px 0px;
		img {
			margin: 0px 0px 0px 8px;
		}
		&:hover {
			background: #000;
		}
	}
}
