.page {
	// .page__product-cart
	&__product-cart {
		@media (max-width: $mobile) {
			order: 1;
		}
	}
	// .page__products
	&__products {
		margin: 0px 0px 75px 0px;
		@media (max-width: $tablet) {
			margin: 0px 0px 25px 0px;
		}
		@media (max-width: $mobile) {
			order: 3;
		}
	}
	// .page__block-product
	&__block-product {
		margin: 0px 0px 77px 0px;
		@media (max-width: $tablet) {
			margin: 0px 0px 45px 0px;
		}
		@media (max-width: $mobile) {
			order: 2;
			margin: 0px 0px 25px 0px;
		}
	}
	// .page__coupon-mob
	&__coupon-mob {
		display: none;
		@media (max-width: $mobile) {
			display: block;
			order: 4;
		}
	}
}

//========================================================================================================================================================

.product-cart {
	// .product-cart__container
	&__container {
	}
	// .product-cart__top
	&__top {
		display: flex;
		margin: 35px 0px 25px 0px;
		@media (max-width: $tablet) {
			flex-direction: column;
			margin: 20px 0px 20px 0px;
		}
		@media (max-width: $mobileSmall) {
			margin: 15px 0px 15px 0px;
		}
	}
	// .product-cart__center
	&__center {
	}
	// .product-cart__bottom
	&__bottom {
	}
}

.top-product-cart {
	// .top-product-cart__title-mob
	&__title-mob {
		display: none;
		font-weight: 500;
		font-size: 28px;
		line-height: math.div(33, 28);
		margin: 0px 0px 15px 0px;
		@media (max-width: $tablet) {
			display: block;
		}
		@media (max-width: $mobileSmall) {
			font-size: 20px;
			line-height: math.div(23, 20);
			margin: 0px 0px 15px 0px;
		}
	}
	// .top-product-cart__images
	&__images {
		display: flex;
		overflow: hidden;
		flex: 0 1 840px;
		height: 618px;
		margin: 0px 20px 0px 0px;
		@media (max-width: $pc) {
			flex-direction: column;
			height: 100%;
		}
		@media (max-width: $tablet) {
			flex: 1 1 auto;
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $mobileSmall) {
			margin: 0px 0px 15px 0px;
		}
	}
	// .top-product-cart__desc
	&__desc {
		flex: 0 1 676px;
		margin: 0px 0px 0px 20px;
		display: flex;
		flex-direction: column;
		@media (max-width: $tablet) {
			flex: 1 1 auto;
			margin: 0px 0px 0px 0px;
		}
	}
	// .top-product-cart__title
	&__title {
		font-weight: 500;
		font-size: 28px;
		line-height: math.div(33, 28);
		margin: 0px 0px 30px 0px;
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .top-product-cart__table
	&__table {
		margin: -15px 0px;
		flex: 1 1 100%;
		li {
			display: flex;
			font-weight: 400;
			font-size: 18px;
			line-height: math.div(22, 18);
			color: #696f77;
			padding: 15px 0px;
			span {
				font-weight: 500;
				font-size: 18px;
				line-height: math.div(22, 18);
				margin: 0px 0px 0px 4px;
				color: #363c43;
			}
		}
		@media (max-width: $mobile) {
			margin: -5px 0px;
			li {
				font-size: 14px;
				padding: 5px 0px;
				span {
					font-size: 14px;
				}
			}
		}
	}
	// .top-product-cart__actions
	&__actions {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid rgba(54, 60, 67, 0.1);
		border-bottom: 1px solid rgba(54, 60, 67, 0.1);
		padding: 11px 0px 12px 0px;
		margin: 30px 0px 0px 0px;
		@media (max-width: 1300px) {
			flex-direction: column;
		}
		@media (max-width: $tablet) {
			flex-direction: row;
			padding: 10px 0px 10px 0px;
			margin: 25px 0px 0px 0px;
		}
	}
	// .top-product-cart__left
	&__left {
		display: flex;
		align-items: center;
		margin: 0px 20px 0px 0px;
		span {
			font-weight: 700;
			font-size: 18px;
			line-height: math.div(21, 18);
			color: #d2d2d2;
			margin: 0px 12px 0px 0px;
		}
		@media (max-width: 1300px) {
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: $tablet) {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: $mobileSmall) {
			span {
				font-size: 14px;
				margin: 0px 10px 0px 0px;
				font-size: 14px;
				line-height: math.div(16, 14);
			}
		}
	}
	// .top-product-cart__price
	&__price {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: rgba(54, 60, 67, 0.1);
		border-radius: 7px;
		padding: 20px;
		font-weight: 700;
		font-size: 18px;
		height: 60px;
		line-height: math.div(21, 18);
		margin: 0px 12px 0px 0px;
		@media (max-width: $mobileSmall) {
			font-size: 14px;
			line-height: math.div(16, 14);
			height: 40px;
			padding: 12px 8px;
			margin: 0px 10px 0px 0px;
		}
	}
	// .top-product-cart__tippy
	&__tippy {
		background: #ebeced;
		padding: 4px;
		border-radius: 50%;
		&::before {
			font-size: 14px;
			color: #363c43;
		}
	}
	// .top-product-cart__right
	&__right {
		display: flex;
		align-items: center;
	}
	// .top-product-cart__total
	&__total {
		font-weight: 700;
		font-size: 28px;
		line-height: math.div(33, 28);
		color: #ff4f37;
		border-right: 1px solid #ebeced;
		padding: 0px 30px 0px 0px;
		margin: 0px 30px 0px 0px;
		@media (max-width: $mobile) {
			border-right: none;
			border-left: 1px solid #ebeced;
			padding: 0px 0px 0px 20px;
			margin: 0px 0px 0px 20px;
		}
		@media (max-width: $mobileSmall) {
			font-size: 20px;
			line-height: math.div(23, 20);
		}
	}
	// .top-product-cart__icon
	&__icon {
		background: rgba(54, 60, 67, 0.1);
		border-radius: 50%;
		padding: 12px 9px;
		margin: 0px 18px 0px 0px;
		width: 39px;
		height: 39px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		&::before {
			font-size: 21px;
			color: #363c43;
			padding: 10px 6px 6px 6px;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
}

.center-product-cart {
	// .center-product-cart__top
	&__top {
		display: flex;
		margin: 0px 0px 25px 0px;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
		@media (max-width: $mobile) {
			flex-direction: column-reverse;
		}
		@media (max-width: $mobileSmall) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .center-product-cart__left
	&__left {
		flex: 0 1 840px;
		margin: 0px 20px 0px 0px;
		border: 1px solid rgba(54, 60, 67, 0.1);
		border-radius: 7px;
		padding: 20px 30px 20px 35px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		img {
			width: 193px;
			height: auto;
			border-right: 1px solid #ebeced;
			margin: 0px 35px 0px 0px;
			padding: 0px 35px 0px 0px;
		}
		span {
			font-weight: 700;
			font-size: 18px;
			line-height: math.div(21, 18);
			color: #d2d2d2;
			margin: 0px 32px 0px 0px;
		}
		@media (max-width: 1300px) {
			padding: 15px;
			img {
				width: 153px;
				height: auto;
				border-right: 1px solid #ebeced;
				margin: 0px 18px 0px 0px;
				padding: 0px 18px 0px 0px;
			}
			span {
				margin: 0px 15px 0px 0px;
			}
		}
		@media (max-width: $tablet) {
			flex: 1 1 auto;
			margin: 0px 0px 20px 0px;
			img {
				width: 193px;
				margin: 0px 20px 0px 0px;
				padding: 0px 20px 0px 0px;
			}
		}
		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: start;
			margin: 0px 0px 0px 0px;
			img {
				width: 150px;
			}
		}
		@media (max-width: $mobileSmall) {
			padding: 10px;
			img {
				width: 88px;
				margin: 0px 10px 0px 0px;
				padding: 0px 10px 0px 0px;
			}
			span {
				margin: 0px 0px 0px 0px;
				font-size: 13px;
				line-height: math.div(15, 13);
			}
		}
	}
	// .center-product-cart__installment-plan
	&__installment-plan {
		font-weight: 700;
		font-size: 18px;
		line-height: math.div(21, 18);
		margin: 0px 20px 0px 0px;
		@media (max-width: 1300px) {
			margin: 0px 15px 0px 0px;
		}
		@media (max-width: $mobileSmall) {
			font-size: 13px;
			line-height: math.div(15, 13);
			margin: 0px 15px 0px 0px;
		}
		@media (max-width: 350px) {
			flex: 1 1 auto;
			margin: 0px 5px 0px 0px;
		}
	}
	// .center-product-cart__link
	&__link {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		background: rgba(54, 60, 67, 0.04);
		border-radius: 7px;
		min-height: 60px;
		font-weight: 400;
		font-size: 16px;
		line-height: math.div(21, 16);
		flex: 0 1 244px;
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			margin: 10px 0px 0px 0px;
		}
		@media (max-width: $mobileSmall) {
			font-size: 14px;
			line-height: math.div(16, 14);
			min-height: 40px;
		}
	}
	// .center-product-cart__right
	&__right {
		display: flex;
		flex: 0 1 676px;
		margin: 0px 0px 0px 20px;
		@media (max-width: $tablet) {
			flex: 1 1 auto;
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 15px 0px;
		}
	}
	// .center-product-cart__quantity
	&__quantity {
	}
	// .center-product-cart__button-up
	&__button-up {
		background: #fd9d08;
		border-radius: 7px;
		padding: 35px 10px;
		font-weight: 500;
		font-size: 28px;
		line-height: math.div(33, 28);
		color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex: 0 1 490px;
		margin: 0px 0px 0px 44px;
		@media (max-width: 1300px) {
			margin: 0px 0px 0px 20px;
			font-size: 24px;
			line-height: math.div(28, 24);
		}
		@media (max-width: $tablet) {
			flex: 1 1 auto;
			margin: 0px 0px 0px 44px;
		}
		@media (max-width: $mobile) {
			padding: 20px 10px;
			font-size: 22px;
			margin: 0px 0px 0px 30px;
		}
		@media (max-width: $mobileSmall) {
			flex: 1 1 209px;
			font-size: 16px;
			line-height: math.div(19, 16);
			padding: 10px 10px;
			margin: 0px 0px 0px 5px;
		}
	}
	// .center-product-cart__bottom
	&__bottom {
		display: flex;
		margin: 0px 0px 68px 0px;
		min-height: 343px;
		@media (max-width: $tablet) {
			flex-direction: column;
			height: auto;
			margin: 0px 0px 40px 0px;
		}
		@media (max-width: $mobile) {
			min-height: auto;
			margin: 0px 0px 20px 0px;
		}
	}
	// .center-product-cart__delivery
	&__delivery {
		position: relative;
		flex: 0 1 840px;
		margin: 0px 20px 0px 0px;
		min-height: 347px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 7px;
			z-index: -1;
		}
		@media (max-width: $tablet) {
			flex: 1 1 343px;
			min-height: auto;
			margin: 0px 0px 15px 0px;
		}
	}
	// .center-product-cart__desc
	&__desc {
		flex: 1 1 auto;
		@media (max-width: $pc) {
			margin: 0px 10px 0px 0px;
		}
	}
	// .center-product-cart__text
	&__text {
		position: relative;
		padding: 48px 58px 48px 65px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		position: relative;
		z-index: 5;
		height: 100%;
		@media (max-width: $pc) {
			padding: 35px;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		@media (max-width: 1200px) {
			padding: 35px 15px;
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: start;
		}
		@media (max-width: $mobile) {
			padding: 25px;
		}
	}
	// .center-product-cart__icon
	&__icon {
		margin: 0px 0px 16px 0px;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background: #ffffff;
		box-shadow: 0px 4px 67px rgba(0, 0, 0, 0.25);
		&::before {
			font-size: 24px;
			padding: 9px;
			color: #fd9d08;
		}
		@media (max-width: $mobileSmall) {
			margin: 0px 0px 10px 0px;
			width: 30px;
			height: 30px;
			&::before {
				font-size: 17px;
				padding: 6px;
			}
		}
	}
	// .center-product-cart__title
	&__title {
		font-weight: 700;
		font-size: 50px;
		line-height: math.div(55, 50);
		margin: 0px 0px 10px 0px;
		@media (max-width: 1200px) {
			font-size: 38px;
			line-height: math.div(44, 38);
		}
		@media (max-width: $mobileSmall) {
			font-size: 32px;
			line-height: math.div(35, 32);
		}
	}
	// .center-product-cart__subtitle
	&__subtitle {
		flex: 1 1 100%;
		font-weight: 400;
		font-size: 18px;
		line-height: math.div(22, 18);
		color: #696f77;
		margin: 0px 0px 30px 0px;
		@media (max-width: $mobileSmall) {
			font-size: 14px;
			line-height: math.div(17, 14);
			margin: 0px 0px 25px 0px;
		}
	}
	// .center-product-cart__buttons
	&__buttons {
		display: flex;
		button {
			background: #fd9d08;
			border-radius: 33px;
			width: 179px;
			min-height: 66px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-weight: 700;
			font-size: 18px;
			line-height: math.div(21, 18);
			color: #ffffff;
			padding: 0px 34px;
			&._active {
				background: #363c43;
			}
		}
		@media (max-width: $pc) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			button {
				margin: 0px 0px 0px 0px;
			}
		}
		@media (max-width: $tablet) {
			flex-direction: row;
			justify-content: start;
			align-items: start;
		}
		@media (max-width: $mobile) {
			flex-direction: column;
		}
		@media (max-width: $mobileSmall) {
			button {
				font-size: 18px;
				width: 179px;
				min-height: auto;
				line-height: math.div(21, 18);
				padding: 20px;
			}
		}
	}
	// .center-product-cart__button
	&__button {
		background: #ffffff;
		box-shadow: 0px 4px 139px rgba(0, 0, 0, 0.25);
		border-radius: 33px;
		padding: 25px;
		font-weight: 700;
		font-size: 18px;
		line-height: math.div(21, 18);
		width: 179px;
		min-height: 66px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 0px 8px 0px 0px;
		&::before {
			font-size: 22px;
			color: #363c43;
			margin: 0px 10px 0px 0px;
		}
		@media (max-width: $pc) {
			margin: 0px 0px 8px 0px;
		}
		@media (max-width: $tablet) {
			margin: 0px 8px 0px 0px;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: $mobileSmall) {
			font-size: 18px;
			min-height: auto;
			line-height: math.div(24, 18);
			padding: 20px;
		}
	}
	// .center-product-cart__coupon
	&__coupon {
		position: relative;
		flex: 0 1 676px;
		margin: 0px 0px 0px 20px;
		min-height: 347px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 7px;
			z-index: -1;
		}
		@media (max-width: $tablet) {
			flex: 1 1 343px;
			min-height: auto;
			margin: 0px 0px 0px 0px;
		}
	}
	// .center-product-cart__coupon-mob
	&__coupon-mob {
		flex: 1 1 auto;
		position: relative;
		min-height: 719px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 7px;
			z-index: -1;
		}
	}
	// .center-product-cart__coupon-text
	&__coupon-text {
		width: 179px;
		min-height: 66px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 0px 8px 0px 0px;
		background: #dedede;
		border-radius: 33px;
		font-weight: 700;
		font-size: 24px;
		line-height: math.div(28, 24);
		@media (max-width: $pc) {
			margin: 0px 0px 8px 0px;
		}
		@media (max-width: $tablet) {
			margin: 0px 8px 0px 0px;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: $mobileSmall) {
			min-height: auto;
			padding: 20px;
		}
	}
	// .center-product-cart__button-mob
	&__button-mob {
		display: none;
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
			align-items: center;
			background: #fd9d08;
			border-radius: 7px;
			font-weight: 500;
			font-size: 15px;
			line-height: math.div(18, 15);
			color: #ffffff;
			height: 60px;
			padding: 20px;
		}
	}
}

.delivery-product {
	@media (max-width: $mobile) {
		display: none;
	}
}

.coupon-product {
	@media (max-width: $mobile) {
		display: none;
	}
}

.tabs {
	@media (max-width: $tablet) {
		display: flex;
		flex-direction: column-reverse;
	}
	// .tabs__navigation
	&__navigation {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(54, 60, 67, 0.1);
		margin: 0px 0px 48px 0px;
		@media (max-width: $tablet) {
			margin: 0px 0px 0px 0px;
			border-bottom: none;
		}
	}
	// .tabs__titles
	&__titles {
		display: flex;
		align-items: center;
		flex: 0 1 1080px;
		justify-content: space-between;
		margin: 0px 50px 0px 0px;
		@media (max-width: $tablet) {
			flex: 0 1 auto;
			margin: 0px 0px 0px 0px;
		}
	}
	// .tabs__title
	&__title {
		font-weight: 200;
		font-size: 35px;
		line-height: math.div(39, 35);
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		padding: 10px 5px 25px 5px;
		&:nth-last-child(n + 2) {
			&::before {
				display: none;
			}
		}
		&::before {
			font-size: 28px;
			color: #363c43;
			margin: 0px 0px 0px 6px;
		}
		span {
			display: none;
		}
		&._tab-active {
			font-weight: 700;
			padding: 10px 10px 20px 10px;
			border-bottom: 5px solid #363c43;
		}
		@media (max-width: 1200px) {
			font-size: 28px;
			line-height: math.div(35, 28);
		}
		@media (max-width: $tablet) {
			font-weight: 400;
			flex-direction: row;
			align-items: center;
			justify-content: start;
			width: 100%;
			background: rgba(54, 60, 67, 0.04);
			border-bottom: none;
			margin: 0px 0px 10px 0px;
			padding: 25px;
			border-radius: 7px;
			&::before {
				font-size: 28px;
				color: #363c43;
				margin: 0px 14px 0px 0px;
			}
			&:nth-last-child(n + 2) {
				&::before {
					display: block;
				}
			}
			span {
				flex: 1 1 100%;
				display: flex;
				justify-content: flex-end;
				&::before {
					font-size: 18px;
					transform: rotate(-90deg);
				}
			}
			&._tab-active {
				font-weight: 400;
				padding: 25px;
				border-bottom: none;
				span {
					&::before {
						font-size: 18px;
						transform: rotate(0deg);
						color: #fd9d08;
					}
				}
			}
		}
		@media (max-width: $mobile) {
			font-size: 24px;
			line-height: math.div(30, 24);
			&::before {
				font-size: 24px;
				color: #363c43;
			}
			img {
				width: 24px;
				height: 24px;
			}
		}
		@media (max-width: $mobileSmall) {
			padding: 20px 10px;
			font-size: 15px;
			line-height: math.div(18, 151);
			img {
				width: 20px;
				height: 20px;
			}
			&::before {
				font-size: 20px;
				color: #363c43;
			}
			&._tab-active {
				padding: 20px 10px;
			}
		}
	}
	// .tabs__download
	&__download {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px 0px 14px 0px;
		background: rgba(54, 60, 67, 0.04);
		border-radius: 7px;
		font-size: 15px;
		font-weight: 400;
		line-height: math.div(18, 15);
		padding: 10px 50px;
		height: 60px;
		width: auto;
		&::before {
			font-size: 22px;
			color: #363c43;
			margin: 0px 13px 0px 0px;
		}
		@media (max-width: $tablet) {
			width: 100%;
			margin: 0px 0px 0px 0px;
			padding: 40px 25px;
			height: 60px;
			justify-content: start;
			font-size: 28px;
			line-height: math.div(35, 28);
			&::before {
				font-size: 28px;
				margin: 0px 14px 0px 0px;
			}
		}
		@media (max-width: $mobile) {
			font-size: 24px;
			line-height: math.div(30, 24);
			&::before {
				font-size: 24px;
				margin: 0px 14px 0px 0px;
			}
		}
		@media (max-width: $mobileSmall) {
			padding: 30px 20px;
			font-size: 15px;
			line-height: math.div(18, 15);
			&::before {
				font-size: 22px;
				margin: 0px 13px 0px 0px;
			}
		}
	}
	// .tabs__content
	&__content {
		@media (max-width: $tablet) {
			flex: 0 1 100%;
			padding: 0px 15px;
		}
	}
	// .tabs__body
	&__body {
		h3 {
			font-weight: 700;
			font-size: 35px;
			line-height: math.div(39, 35);
			margin: 0px 0px 16px 0px;
		}
		p {
			font-weight: 400;
			font-size: 24px;
			line-height: math.div(30, 24);
			color: #696f77;
		}
		@media (max-width: $tablet) {
			border-bottom: 1px solid rgba(54, 60, 67, 0.1);
			margin: 0px 0px 20px 0px;
			padding: 0px 15px 27px 15px;
			h3 {
				font-size: 28px;
				line-height: math.div(35, 28);
				margin: 0px 0px 10px 0px;
			}
			p {
				font-size: 20px;
				line-height: math.div(26, 20);
			}
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 10px 0px;
			padding: 5px 15px 15px 15px;
			h3 {
				font-size: 22px;
				line-height: math.div(28, 22);
				margin: 0px 0px 5px 0px;
			}
			p {
				font-size: 16px;
				line-height: math.div(22, 16);
			}
		}
		@media (max-width: $mobileSmall) {
			h3 {
				font-size: 16px;
				line-height: math.div(18, 16);
				margin: 0px 0px 5px 0px;
			}
			p {
				font-size: 12px;
				line-height: math.div(15, 12);
			}
		}
	}
	// .tabs__container
	&__container {
		@media (max-width: $tablet) {
			max-width: 100%;
			padding: 0px 15px;
			margin: 0px 0px 0px 0px;
		}
	}
	// .tabs__table
	&__table {
		margin: -15px 0px;
		@media (max-width: $mobile) {
			margin: -6px 0px;
		}
	}
	// .tabs__cart
	&__cart {
		display: flex;
		padding: 15px 0px;
		@media (max-width: $mobile) {
			padding: 6px 0px;
		}
	}
	// .tabs__label
	&__label {
		flex: 0 1 600px;
		font-weight: 400;
		font-size: 25px;
		line-height: math.div(28, 25);
		color: #696f77;
		margin: 0px 20px 0px 0px;
		@media (max-width: $tablet) {
			flex: 0 1 50%;
			margin: 0px 25px 0px 0px;
		}
		@media (max-width: $mobile) {
			font-size: 22px;
			line-height: math.div(25, 22);
		}
		@media (max-width: $mobileSmall) {
			font-size: 12px;
			line-height: math.div(15, 12);
		}
	}
	// .tabs__value
	&__value {
		font-weight: 500;
		font-size: 25px;
		line-height: math.div(28, 25);
		@media (max-width: $mobile) {
			font-size: 22px;
			line-height: math.div(25, 22);
		}
		@media (max-width: $mobileSmall) {
			font-size: 12px;
			line-height: math.div(15, 12);
		}
	}
	// .tabs__video
	&__video {
		position: relative;
		width: 100%;
		height: 800px;
		@media (max-width: $tablet) {
			height: 400px;
		}
		@media (max-width: $mobile) {
			height: 300px;
		}
		@media (max-width: $mobileSmall) {
			height: 200px;
		}
	}
	// .tabs__video-item
	&__video-item {
		position: absolute;
		top: 0;
		right: 0;
		object-fit: cover;
		cursor: pointer;
		width: 100%;
		height: 100%;
		border-radius: 7px;
	}
	// .tabs__icon
	&__icon {
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			transform: translate(-50%, -50%);
			font-size: 110px;
			color: #ffffff;
			pointer-events: none;
		}
		&._active {
			display: none;
		}
		@media (max-width: $mobile) {
			&::before {
				font-size: 70px;
			}
		}
		@media (max-width: $mobileSmall) {
			&::before {
				font-size: 50px;
			}
		}
	}
}

.tabs-title-play {
	@media (max-width: $mobileSmall) {
		padding: 20px;
	}
}

.spollers {
	display: none;
	@media (max-width: $tablet) {
		display: flex;
		flex-direction: column;
	}
	// .spollers__item
	&__item {
	}
	// .spollers__title
	&__title {
		display: flex;
		font-weight: 400;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		width: 100%;
		background: rgba(54, 60, 67, 0.04);
		border-bottom: none;
		margin: 0px 0px 10px 0px;
		padding: 25px;
		border-radius: 7px;
		&::before {
			font-size: 28px;
			color: #363c43;
			margin: 0px 14px 0px 0px;
		}
		&:nth-last-child(n + 2) {
			&::before {
				display: block;
			}
		}
		span {
			flex: 1 1 100%;
			display: flex;
			justify-content: flex-end;
			&::before {
				font-size: 18px;
				transform: rotate(-90deg);
			}
		}
		&._spoller-active {
			font-weight: 400;
			padding: 25px;
			border-bottom: none;
			span {
				&::before {
					font-size: 18px;
					transform: rotate(0deg);
					color: #fd9d08;
				}
			}
		}
		@media (max-width: $mobile) {
			font-size: 24px;
			line-height: math.div(30, 24);
			&::before {
				font-size: 24px;
				color: #363c43;
			}
			img {
				width: 24px;
				height: 24px;
			}
		}
		@media (max-width: $mobileSmall) {
			padding: 20px 10px;
			font-size: 15px;
			line-height: math.div(18, 151);
			img {
				width: 20px;
				height: 20px;
			}
			&::before {
				font-size: 20px;
				color: #363c43;
			}
			&._spoller-active {
				padding: 20px 10px;
			}
		}
	}
	// .spollers__body
	&__body {
		@media (max-width: $tablet) {
			border-bottom: 1px solid rgba(54, 60, 67, 0.1);
			margin: 0px 0px 20px 0px;
			padding: 0px 15px 27px 15px;
			h3 {
				font-size: 28px;
				line-height: math.div(35, 28);
				margin: 0px 0px 10px 0px;
			}
			p {
				font-size: 20px;
				line-height: math.div(26, 20);
			}
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 10px 0px;
			padding: 5px 0px 15px 0px;
			h3 {
				font-size: 22px;
				line-height: math.div(28, 22);
				margin: 0px 0px 5px 0px;
			}
			p {
				font-size: 16px;
				line-height: math.div(22, 16);
			}
		}
		@media (max-width: $mobileSmall) {
			h3 {
				font-size: 16px;
				line-height: math.div(18, 16);
				margin: 0px 0px 5px 0px;
			}
			p {
				font-size: 12px;
				line-height: math.div(15, 12);
			}
		}
	}
}

.banner-product {
	@media (max-width: $mobile) {
		display: none;
	}
}

//========================================================================================================================================================

//Слайдер

.images-product {
	// .images-product__slider
	&__slider {
		position: relative;
		flex: 0 1 685px;
		margin: 0px 12px 0px 0px;
		@media (max-width: $pc) {
			margin: 0px 0px 12px 0px;
		}
		@media (max-width: 1300px) {
			flex: 1 1 auto;
		}
		@media (max-width: $mobileSmall) {
			margin: 0px 0px 10px 0px;
		}
	}
	// .images-product__favorites
	&__icon-favorites {
		display: none;
		@media (max-width: $mobile) {
			display: flex;
			position: absolute;
			top: 10px;
			right: 10px;
			margin: 0px 0px 0px 0px;
		}
	}
	// .images-product__comparison
	&__icon-comparison {
		display: none;
		@media (max-width: $mobile) {
			display: flex;
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
	}
	// .images-product__swiper
	&__swiper {
	}
	// .images-product__slide-ibg
	&__slide {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border: 1px solid rgba(54, 60, 67, 0.1);
			border-radius: 7px;
			padding: 53px 86px 43px 80px;
		}
		@media (max-width: $pc) {
			img {
				height: auto;
				padding: 0px 0px 0px 0px;
			}
		}
	}
	// .images-product__thumbs
	&__thumbs {
		display: flex;
		flex-direction: column;
	}
}

.thumbs {
	// .thumbs__swiper
	&__swiper {
	}
	// .thumbs__slide-ibg
	&__slide {
		display: flex;
		cursor: pointer;
		img {
			border: 1px solid rgba(54, 60, 67, 0.1);
			border-radius: 7px;
			width: 140px;
			height: 140px;
			padding: 13px 16px;
		}
		@media (max-width: $pc) {
			img {
				width: 100%;
				height: 100%;
				padding: 0px 0px 0px 0px;
			}
		}
	}
}

//========================================================================================================================================================

.products {
	// .products__container
	&__container {
	}
	// .products__body
	&__body {
		border-bottom: 1px solid rgba(54, 60, 67, 0.1);
		border-top: 1px solid rgba(54, 60, 67, 0.1);
		padding: 66px 0px 80px 0px;
		margin: 50px 0px 0px 0px;
		@media (max-width: $tablet) {
			padding: 0px 0px 40px 0px;
			border-top: none;
			border-bottom: none;
			margin: 30px 0px 0px 0px;
		}
		@media (max-width: $mobileSmall) {
			border-top: none;
			border-bottom: none;
			padding: 0px 0px 0px 0px;
			margin: 10px 0px 0px 0px;
		}
	}
	// .products__title
	&__title {
		font-weight: 700;
		font-size: 35px;
		line-height: math.div(39, 35);
		margin: 0px 0px 52px 0px;
		@media (max-width: $tablet) {
			margin: 0px 0px 30px 0px;
		}
		@media (max-width: $mobile) {
			font-size: 30px;
			line-height: math.div(35, 30);
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $mobileSmall) {
			font-size: 24px;
			line-height: math.div(26, 24);
			margin: 0px 0px 15px 0px;
		}
	}
	// .products__product
	&__product {
		position: relative;
		@media (max-width: $pc) {
			margin: 0px 5px 0px 5px;
		}
	}
	// .products__slider
	&__slider {
	}
	// .products__wrapper
	&__wrapper {
	}
	// .products__slide
	&__slide {
		display: flex;
		flex-direction: column;
	}
	// .products__column
	&__column {
		flex: 0 1 25%;
		display: flex;
		flex-direction: column;
		padding: 21px 13px;
		@media (max-width: $pc) {
			flex: 0 1 33.3333%;
			padding: 7px;
		}
		@media (max-width: $tablet) {
			flex: 0 1 50%;
		}
		@media (max-width: 700px) {
			flex: 1 1 auto;
			padding: 7px 0px;
		}
	}
	// .products__image
	&__image {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba(54, 60, 67, 0.1);
		border-radius: 7px;
		margin: 0px 0px 20px 0px;
		min-height: 316px;
		img {
			max-width: 200px;
			height: 200px;
			object-fit: cover;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 10px 0px;
		}
		@media (max-width: 600px) {
			min-height: 250px;
			margin: 0px 0px 15px 0px;
			img {
				max-width: 150px;
				height: 150px;
			}
		}
		@media (max-width: $mobileSmall) {
			min-height: 116px;
			img {
				max-width: 90px;
				height: 90px;
			}
		}
	}
	// .products__favorites
	&__favorites {
		cursor: pointer;
		position: absolute;
		right: 20px;
		bottom: 20px;
		background: rgba(54, 60, 67, 0.1);
		width: 39px;
		height: 39px;
		border-radius: 50%;
		&::before {
			font-size: 21px;
			color: #363c43;
			padding: 12px 9px 9px 9px;
			transition: all 0.3s ease 0s;
		}
		&._active {
			&::before {
				color: #fd9d08;
			}
		}
		@media (max-width: $mobileSmall) {
			right: 5px;
			bottom: 5px;
			width: 25px;
			height: 25px;
			&::before {
				font-size: 12px;
				padding: 8px 6px 5px 6.5px;
			}
		}
	}
	// .products__comparison
	&__comparison {
		cursor: pointer;
		position: absolute;
		right: 20px;
		top: 20px;
		background: rgba(54, 60, 67, 0.1);
		width: 39px;
		height: 39px;
		border-radius: 50%;
		&::before {
			font-size: 21px;
			color: #363c43;
			padding: 9px;
			transition: all 0.3s ease 0s;
		}
		&._active {
			&::before {
				color: #fd9d08;
			}
		}
		@media (max-width: $mobileSmall) {
			right: 5px;
			top: 5px;
			width: 25px;
			height: 25px;
			&::before {
				font-size: 12px;
				padding: 6px;
			}
		}
	}
	// .products__power
	&__power {
		display: flex;
		align-items: center;
		cursor: pointer;
		position: absolute;
		right: 73px;
		top: 30px;
		font-weight: 300;
		font-size: 15px;
		line-height: math.div(18, 15);
		&::before {
			font-size: 13px;
			color: #363c43;
		}
		@media (max-width: $mobileSmall) {
			right: 7px;
			top: 35px;
			font-size: 8px;
			line-height: math.div(9, 8);
			&::before {
				font-size: 7px;
				height: 4px;
			}
		}
	}
	// .products__hit
	&__hit {
		position: absolute;
		background: #fd9d08;
		border-radius: 19.5px;
		top: 20px;
		left: 20px;
		font-weight: 500;
		font-size: 28px;
		line-height: math.div(33, 28);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #ffffff;
		padding: 4px 15px;
		@media (max-width: $mobile) {
			font-size: 22px;
			line-height: math.div(25, 22);
			padding: 4px 10px;
		}
		@media (max-width: $mobileSmall) {
			top: 5px;
			left: 5px;
			padding: 3px 8px;
			font-size: 12px;
		}
	}
	// .products__sale
	&__sale {
		position: absolute;
		background: #ff4f37;
		border-radius: 19.5px;
		top: 65px;
		left: 20px;
		font-weight: 500;
		font-size: 12px;
		line-height: math.div(14, 12);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #ffffff;
		padding: 12px;
		min-width: 80px;
		@media (max-width: $mobile) {
			padding: 9px;
		}
		@media (max-width: $mobileSmall) {
			top: 30px;
			left: 5px;
			font-size: 8px;
			padding: 4px 3px;
			min-width: auto;
		}
	}
	// .products__reserve
	&__reserve {
		position: absolute;
		background: #ebeced;
		border-radius: 19.5px;
		bottom: 20px;
		left: 20px;
		font-weight: 500;
		font-size: 12px;
		line-height: math.div(14, 12);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 12px;
		min-width: 80px;
		@media (max-width: $mobile) {
			padding: 9px;
		}
		@media (max-width: $mobileSmall) {
			background: #dbdcdd;
			bottom: 5px;
			left: 5px;
			font-size: 12px;
			padding: 4px 6px;
		}
	}
	// .products__stock
	&__stock {
		position: absolute;
		background: #83ea88;
		border-radius: 19.5px;
		bottom: 20px;
		left: 20px;
		font-weight: 500;
		font-size: 12px;
		line-height: math.div(14, 12);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #ffffff;
		padding: 12px;
		min-width: 80px;
		@media (max-width: $mobile) {
			padding: 9px;
		}
		@media (max-width: $mobileSmall) {
			bottom: 5px;
			left: 5px;
			font-size: 12px;
			padding: 4px 6px;
		}
	}
	// .products__way
	&__way {
		position: absolute;
		background: #363c43;
		border-radius: 19.5px;
		bottom: 20px;
		left: 20px;
		font-weight: 500;
		font-size: 12px;
		line-height: math.div(14, 12);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #ffffff;
		padding: 12px;
		min-width: 80px;
		@media (max-width: $mobile) {
			padding: 9px;
		}
		@media (max-width: $mobileSmall) {
			bottom: 5px;
			left: 5px;
			font-size: 12px;
			padding: 4px 6px;
		}
	}
	// .products__desc
	&__desc {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	// .products__desc-title
	&__desc-title {
		font-weight: 400;
		font-size: 18px;
		line-height: math.div(20, 18);
		color: #696f77;
		margin: 0px 0px 20px 0px;
		flex: 1 1 auto;
		@media (max-width: $mobileSmall) {
			font-size: 11px;
			line-height: math.div(12, 11);
			margin: 0px 0px 10px 0px;
		}
	}
	// .products__actions
	&__actions {
		display: flex;
		align-items: center;
		margin: 0px 0px 20px 0px;
		span {
			font-weight: 700;
			font-size: 18px;
			line-height: math.div(21, 18);
			color: #d2d2d2;
		}
		@media (max-width: $mobile) {
			flex-wrap: wrap;
			margin: 0px 0px 15px 0px;
			span {
				font-size: 16px;
				line-height: math.div(18, 16);
			}
		}
		@media (max-width: $mobileSmall) {
			span {
				font-size: 14px;
				line-height: math.div(16, 14);
			}
		}
	}
	// .products__price
	&__price {
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(54, 60, 67, 0.1);
		border-radius: 7px;
		font-weight: 700;
		font-size: 18px;
		line-height: math.div(21, 18);
		height: 60px;
		min-width: 110px;
		margin: 0px 12px 0px 0px;
		@media (max-width: $mobile) {
			margin: 0px 10px 0px 0px;
			font-size: 16px;
			line-height: math.div(18, 16);
			height: 40px;
			min-width: 95px;
		}
		@media (max-width: $mobileSmall) {
			font-size: 14px;
			line-height: math.div(16, 14);
			height: 40px;
			min-width: 75px;
		}
	}
	// .products__sum
	&__sum {
		border-left: 1px solid #ebeced;
		padding: 0px 0px 0px 32px;
		margin: 0px 0px 0px 32px;
		font-weight: 700;
		font-size: 18px;
		line-height: math.div(21, 18);
		color: #ff4f37;
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			border-left: none;
			padding: 0px 0px 0px 0px;
			margin: 10px 0px 0px 10px;
		}
	}
	// .products__button-up
	&__button-up {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fd9d08;
		border-radius: 7px;
		font-weight: 500;
		font-size: 28px;
		line-height: math.div(33, 28);
		text-align: center;
		color: #ffffff;
		width: 100%;
		height: 77px;
		padding: 20px 10px;
		transition: all 0.3s ease 0s;
		&._active {
			font-weight: 400;
			background: #ededed;
			color: #62686f;
			font-size: 24px;
			line-height: math.div(28, 24);
		}
		@media (max-width: $mobile) {
			font-size: 18px;
			line-height: math.div(21, 18);
			padding: 15px 10px;
			height: 67px;
			&._active {
				font-size: 18px;
				line-height: math.div(21, 18);
			}
		}
		@media (max-width: $mobileSmall) {
			font-size: 12px;
			line-height: math.div(14, 12);
			padding: 9px;
			height: 45px;
			&._active {
				font-size: 12px;
				line-height: math.div(14, 12);
				height: 45px;
			}
		}
	}
	// .products__arrows
	&__arrows {
	}
	// .products__arrow-prev
	&__arrow-prev {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		top: 133px;
		transform: translate(-50%, 0);
		background: #ffffff;
		box-shadow: 0px 4px 72px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		width: 50px;
		height: 50px;
		&::before {
			font-size: 28px;
			color: #363c43;
			padding: 10px;
		}
		@media (max-width: $pc) {
			transform: translate(-28%, 0);
		}
		@media (max-width: $mobile) {
			width: 40px;
			height: 40px;
			&::before {
				font-size: 24px;
				color: #363c43;
				padding: 5px;
			}
		}
		@media (max-width: 600px) {
			top: 110px;
		}
		@media (max-width: $mobileSmall) {
			width: 20px;
			height: 20px;
			top: 48px;
			box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
			&::before {
				font-size: 12px;
				padding: 4px;
			}
		}
	}
	// .products__arrow-next
	&__arrow-next {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0;
		top: 133px;
		transform: translate(50%, 0);
		background: #ffffff;
		box-shadow: 0px 4px 72px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		width: 50px;
		height: 50px;
		&::before {
			font-size: 28px;
			color: #363c43;
			padding: 10px;
			transform: rotate(-180deg);
		}
		@media (max-width: $pc) {
			transform: translate(28%, 0);
		}
		@media (max-width: $mobile) {
			width: 40px;
			height: 40px;
			&::before {
				font-size: 24px;
				color: #363c43;
				padding: 5px;
			}
		}
		@media (max-width: 600px) {
			top: 110px;
		}
		@media (max-width: $mobileSmall) {
			width: 20px;
			height: 20px;
			top: 48px;
			box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
			&::before {
				font-size: 12px;
				padding: 4px;
			}
		}
	}
	// .products__dotts
	&__dotts {
		display: none;
		@media (max-width: $mobileSmall) {
			display: flex;
			justify-content: center;
			padding: 15px 0px 3px 0px;
			margin: 0 auto;
			width: auto;
			overflow: hidden;
			.swiper-pagination-bullet {
				flex: 0 0 15px;
				margin: 0px 10px 0px 0px;
				position: relative;
				transition: all 0.3s ease 0s;
				background: #ebebeb;
				box-shadow: 0px 4px 126px rgba(0, 0, 0, 0.25);
				height: 15px;
				border-radius: 50%;
				cursor: pointer;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
			.swiper-pagination-bullet-active {
				border: 2px solid rgba(54, 60, 67, 0.35);
			}
		}
	}
}

//========================================================================================================================================================

.block-product {
	// .block-product__container
	&__container {
	}
	// .block-product__body
	&__body {
		display: flex;
		align-items: center;
		background: #ffffff;
		border: 1px solid rgba(54, 60, 67, 0.1);
		border-radius: 7px;
		padding: 20px 15px 20px 7px;
		img {
			width: 88px;
			height: 88px;
			object-fit: cover;
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			padding: 20px;
			align-items: start;
			img {
				display: none;
			}
		}
		@media (max-width: $mobile) {
			margin: 25px 0px 0px 0px;
		}
	}
	// .block-product__title
	&__title {
		font-weight: 500;
		font-size: 25px;
		line-height: math.div(28, 25);
		margin: 0px 40px 0px 0px;
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .block-product__title-mob
	&__title-mob {
		display: none;
		@media (max-width: $tablet) {
			display: flex;
			font-weight: 500;
			font-size: 18px;
			line-height: math.div(21, 18);
			margin: 0px 0px 10px 0px;
		}
		@media (max-width: $mobile) {
			font-size: 14px;
			line-height: math.div(15, 14);
		}
	}
	// .block-product__text-mob
	&__text-mob {
		display: none;
		@media (max-width: $tablet) {
			display: flex;
			font-weight: 300;
			font-size: 16px;
			line-height: math.div(18, 16);
			color: #757575;
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $mobile) {
			font-size: 12px;
			line-height: math.div(13, 12);
		}
	}
	// .block-product__icons
	&__icons {
		display: flex;
		align-items: center;
		margin: -13px;
		&::after {
			content: "";
			border-left: 1.5px solid rgba(54, 60, 67, 0.1);
			padding: 0px 54px 0px 0px;
			margin: 0px 0px 0px 37px;
			display: block;
			height: 48px;
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .block-product__icon
	&__icon {
		padding: 13px;
	}
	// .block-product__icon-whatsapp
	&__icon-whatsapp {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 72px;
		height: 72px;
		background: #f4f4f4;
		border-radius: 50%;
		&::before {
			font-size: 38px;
			color: #4caf50;
		}
	}
	// .block-product__icon-telegram
	&__icon-telegram {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 72px;
		height: 72px;
		background: #f4f4f4;
		border-radius: 50%;
		&::before {
			font-size: 38px;
			color: #039be5;
		}
	}
	// .block-product__icon-whatsapp-blue
	&__icon-whatsapp-blue {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 72px;
		height: 72px;
		background: #f4f4f4;
		border-radius: 50%;
		&::before {
			font-size: 38px;
			color: #5f41e1;
		}
	}
	// .block-product__clock
	&__clock {
		border-right: none;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		white-space: nowrap;
		@media (max-width: $tablet) {
			display: flex;
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: $mobile) {
			&::before {
				font-size: 13px;
				padding: 5px;
			}
		}
	}
	// .block-product__button
	&__button {
		display: none;
		@media (max-width: $tablet) {
			display: flex;
			justify-content: center;
			align-items: center;
			background: #fd9d08;
			border-radius: 33px;
			width: 225px;
			height: 60px;
			font-weight: 700;
			font-size: 18px;
			line-height: math.div(21, 18);
			text-align: center;
			color: #ffffff;
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .block-product__social-mob
	&__social-mob {
		display: none;
		@media (max-width: $tablet) {
			display: flex;
			width: 100%;
			flex-direction: column;
			margin: 0px 0px 20px 0px;
		}
	}
	// .block-product__form
	&__form {
		position: relative;
		margin: 0px 0px 10px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .block-product__input
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
	}
	// .block-product__checked
	&__checked {
		border: 1px solid rgba(54, 60, 67, 0.1);
		border-radius: 50px;
		width: 225px;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .block-product__label
	&__label {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 14px;
		line-height: math.div(16, 14);
		&::before {
			margin: 0px 10px 0px 0px;
		}
	}
	// .block-product__label-whatsapp
	&__label-whatsapp {
		&::before {
			font-size: 24px;
			color: #4caf50;
		}
	}
	// .block-product__check
	&__check {
		&::before {
			display: none;
		}
	}
	// .block-product__label-whatsapp-blue
	&__label-whatsapp-blue {
		&::before {
			font-size: 24px;
			color: #5f41e1;
		}
	}
	// .block-product__label-telegram
	&__label-telegram {
		&::before {
			font-size: 26px;
			color: #039be5;
		}
	}
}

.block-product__input:checked + .block-product__checked {
	background: #ffffff;
	box-shadow: 0px 4px 50px rgba(176, 176, 176, 0.25);
	border-radius: 50px;
}

.block-product__input:checked + .block-product__checked .block-product__check {
	&::before {
		font-size: 23px;
		color: #fd9d08;
		display: flex;
	}
}

.block-product__clock .top-header__clock-text {
	@media (max-width: $tablet) {
		flex-direction: row;
	}
}

//========================================================================================================================================================

//Купить в один клик//
.center-product-cart {
	// .center-product-cart__buy-click
	&__buy-click {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 18px;
		line-height: math.div(21, 18);
		margin: 0px 75px 0px 0px;
		&::before {
			content: "";
			width: 60px;
			height: 50px;
			display: block;
			padding: 15px;
			margin: 0px 25px 0px 0px;
			background: url("../img/icons/buy-click.svg") 0 0 no-repeat;
		}
		@media (max-width: $pc) {
			margin: 0px 15px 0px 0px;
			&::before {
				content: "";
				margin: 0px 10px 0px 0px;
			}
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: $mobileSmall) {
			font-size: 16px;
			line-height: math.div(18, 16);
		}
	}
	// .center-product-cart__link-buy-click
	&__link-buy-click {
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(54, 60, 67, 0.04);
		border-radius: 7px;
		width: 342px;
		font-weight: 400;
		font-size: 15px;
		line-height: math.div(18, 15);
		padding: 20px;
		@media (max-width: $mobile) {
			width: 100%;
		}
	}
}

.top-product-cart {
	// .top-product-cart__buy-click-bank
	&__buy-click-bank {
		width: 67px;
		height: 67px;
		margin: 0px 20px 0px 0px;
	}
}

.products__tippy {
	margin: 0px 0px 0px 14px;
	@media (max-width: $mobileSmall) {
		display: none;
	}
}

.products__actions-sale {
	flex-direction: column;
	align-items: start;
	@media (max-width: $mobile) {
		flex-wrap: nowrap;
	}
}

.products__sale-popup {
	display: flex;
	align-items: center;
}

.products__sale-popup-text {
	font-weight: 400;
	font-size: 14px;
	line-height: math.div(16, 14);
	@media (max-width: $mobileSmall) {
		font-size: 11px;
		line-height: math.div(13, 11);
	}
}

.products__actions-sale .products__sum {
	border-left: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
}

//========================================================================================================================================================

.tabs__videos {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
	@media (max-width: $tablet) {
		flex-direction: column;
		margin: -5px 0px;
	}
}

.tabs__video-column {
	padding: 10px;
	flex: 0 1 33.3333%;
	@media (max-width: $tablet) {
		flex: 1 1 auto;
		padding: 10px 0px;
	}
}

.tabs__video {
	height: 338px;
	@media (max-width: $mobileSmall) {
		height: 200px;
	}
}

.tabs {
	@media (max-width: $tablet) {
		display: none;
	}
	// .tabs__peculiarity
	&__peculiarity {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(54, 60, 67, 0.1);
		@media (max-width: $tablet) {
			flex-direction: column;
			padding: 5px 0px 15px 5px;
			margin: 0px 0px 20px 0px;
		}
	}
	// .tabs__equipment
	&__equipment {
		margin: 42px 0px 0px 0px;
		@media (max-width: $tablet) {
			margin: 0px 0px 0px 0px;
		}
	}
}

.peculiarity-tabs {
	// .peculiarity-tabs__list
	&__list {
		border-right: 1px solid rgba(54, 60, 67, 0.1);
		padding: 0px 120px 0px 0px;
		margin: 0px 0px 69px 0px;
		&:last-child {
			border-right: none;
			padding: 0px 0px 0px 110px;
			margin: 0px 0px 69px 0px;
		}
		li {
			display: flex;
			font-weight: 400;
			font-size: 24px;
			line-height: math.div(26, 24);
			color: #696f77;
			margin: 0px 0px 25px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			&::before {
				content: "";
				background: #696f77;
				border-radius: 2px;
				width: 12px;
				height: 12px;
				margin: 7px 15px 0px 0px;
				padding: 6px;
			}
		}
		@media (max-width: $pc) {
			padding: 0px 50px 0px 0px;
			margin: 0px 0px 50px 0px;
			&:last-child {
				border-right: none;
				padding: 0px 0px 0px 50px;
				margin: 0px 0px 50px 0px;
			}
		}
		@media (max-width: $tablet) {
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 15px 0px;
			border-right: none;
			&:last-child {
				padding: 0px 0px 0px 0px;
				margin: 0px 0px 0px 0px;
			}
			li {
				margin: 0px 0px 15px 0px;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
		@media (max-width: $mobile) {
			li {
				font-size: 12px;
				line-height: math.div(13, 12);
				&::before {
					content: "";
					width: 7px;
					height: 7px;
					margin: 3px 5px 0px 0px;
					padding: 3px;
				}
			}
		}
	}
}

.equipment-tabs {
	// .equipment-tabs__title
	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: math.div(35, 32);
		@media (max-width: $tablet) {
			padding: 0px 0px 0px 5px;
		}
		@media (max-width: $mobile) {
			font-size: 15px;
			line-height: math.div(17, 15);
		}
	}
	// .equipment-tabs__block
	&__block {
		background: #fafafa;
		padding: 25px 0px;
		margin: 42px 0px 0px 0px;
		font-weight: 400;
		font-size: 24px;
		line-height: math.div(26, 24);
		color: #696f77;
		span {
			color: rgba(105, 111, 119, 0.5);
			border-radius: 2px;
			margin: 0px 15px;
		}
		@media (max-width: $pc) {
			line-height: math.div(36, 24);
		}
		@media (max-width: $tablet) {
			background: #ffffff;
			margin: 15px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			span {
				margin: 0px 0px 0px 5px;
			}
		}
	}
	// .equipment-tabs__subtitle
	&__subtitle {
		@media (max-width: $pc) {
			br {
				display: none;
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .equipment-tabs__subtitle-mob
	&__subtitle-mob {
		display: none;
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			font-weight: 400;
			font-size: 24px;
			line-height: math.div(26, 24);
			color: #696f77;
			span {
				padding: 12px 0px;
				border-bottom: 1px solid rgba(54, 60, 67, 0.1);
				&:first-child {
					padding: 0px 0px 12px 0px;
				}
				&:last-child {
					border-bottom: 0;
					padding: 12px 0px 0px 0px;
				}
			}
			@media (max-width: $mobile) {
				font-size: 12px;
				line-height: math.div(13, 12);
			}
		}
	}
}

.body-peculiarity {
	@media (max-width: $tablet) {
		height: 300px;
		overflow: scroll;
		margin: 20px 12px 0px 0px;
	}
}

.body-peculiarity::-webkit-scrollbar {
	width: 3px;
}

.body-peculiarity::-webkit-scrollbar-thumb {
	background: rgba(54, 60, 67, 0.7);
	border-radius: 5px;
}
